html, body {
	height: 100%;
	}

body {
	background-color: #4d4d4d ;
	font-family: verdana;
	color: #4d4d4d;
	}

h1 {
	color: #ffffff;
	font-family: verdana;
	font-variant: small-caps;
	}

table, tr, td, caption {
	font-family: verdana;
	color: #4d4d4d;
	font-size: small;
}

table caption{
	text-align: left;
	font-size: medium;
	font-variant: small-caps; 
}

#content {
	width: 100%;
	height: 100%;
}

#mapid {
	display: inline-block;
	width: 80%;
	height: 70%;
	}

#sidebar {
	display: inline-block;
	width: 20%;
	height: 70%;
	float: right;
	background-color: #bfbfbf;
	font-size: small;
	font-family: verdana;
	}

#tableDiv {
	display: inline-block;
	width: 100%;
	height: 100%;
	font-size: small;
	}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
	}
